<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <section id="header" class="header clearfix p-5">
        <nav>
          <ul class="nav nav-pills float-right">
              <li class="nav-item">
                <a class="nav-link active btn {% if title == 'Mais vendidas' %}  btn-primary {% else %} btn-secondary {% endif %}" href="/">Mais vendidas</a>
              </li>
              <li class="nav-item ml-1">
                <a class="nav-link active btn {% if title == 'Mais caras' %}  btn-primary {% else %} btn-secondary  {% endif %}"  href="/more-expensives">Mais caras</a>
              </li>
          </ul>
        </nav>
        <h3 class="text-muted" id="page-title">{{ title }}</h3>
    </section>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>NOME</th>
                        <th>TÍTULO</th>
                        <th>PREÇO</th>
                        <th>QUANTIDADE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items  %}
                        <tr class="item">
                            <td class="item-seller-name"><a href="{{ item.seller.permalink }}" target="_blank">{{ item.nickname }}</a></td>
                            <td><a href="{{ item.permalink }}" target="_blank">{{ item.title }}</a></td>
                            <td>{{ item.price|floatformat:2 }}</td>
                            <td  class="item-quantity">{{ item.sold_quantity }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>